<%= form_for @training do |f| %>
    <% if @training.errors.any? %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h3><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h3>
          <ul>
            <% @training.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row col-md-6">

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <% sports = [
            ['running'],
            ['boxing'],
            ['soccer'],
            ['cycling']
    ]
    %>
    <div class="form-group">
      <%= f.label :sport %>
      <%= f.select(:sport, sports, {class: "form-control"}) %>
    </div>

    <div class="form-group">
      <%= f.label 'Public or private training?' %><br />

      <%= label :isPublic, "Public"%>
      <%= f.radio_button :isPublic, true , :checked => true , :value => "1" %>
      <%= label :isPublic, "Private"%>
      <%= f.radio_button :isPublic, false, :value => "0" %>


    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area(:description, size: '60x12') %>
    </div>

    <p>
      <%= f.submit({class:"btn btn-success"}) %>
    </p>
    </div>

<% end %>