<script>
    $(document).ready(function(){
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>


<%= form_for @training do |f| %>
    <% if @training.errors.any? %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h3><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h3>
          <ul>
            <% @training.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-horizontal">

    <div class="form-group">
      <%= f.label :title, {class:"control-label col-sm-4 label-left"} %>
      <div class="col-sm-4">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <% sports = [
            ['running'],
            ['boxing'],
            ['soccer'],
            ['cycling']
    ]
    %>
    <div class="form-group">
      <%= f.label :sport, {class:"control-label col-sm-4 label-left"} %>
      <div class="col-sm-4">
        <%= f.select(:sport, sports, {}, {class: "form-control"}) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Public or private training?', {class:"control-label col-sm-4 label-left"} %>
      <div class="col-sm-4" style="margin-top:7px;">
      <%= label :isPublic, "Public"%>
      <%= f.radio_button :isPublic, true , :checked => true , :value => "1" %>
      <%= label :isPublic, "Private"%>
      <%= f.radio_button :isPublic, false, :value => "0" %>
          </div>


    </div>

    <div class="form-group">
      <%= f.label :description, {class:"control-label col-sm-4 label-left"} %><br>
      <div class="col-sm-4">
        <%= f.text_area(:description, {size: '60x12', class:"form-control"}) %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.submit({class:"btn btn-success"}) %>
      </div>
    </div>
</div>
<% end %>