<% if(!current_user.place.nil? && !current_user.place.empty?) %>
  <script>
    $.ajax("/transportation/connection?from=<%= URI.encode(current_user.place)%>&to=<%=URI.encode(training_session.location)%>&dateToArrival=<%=training_session.datetime.strftime("%Y-%m-%d")%>&timeAtArrival=<%=training_session.datetime.strftime("%H-%M")%>")
      .done(function(data) {
        var schedule = $('#schedule-<%=training_session.id%>');
        if(data === null) {
          schedule.append("<div>You live directly at this place.</div>");
          schedule.find('.schedule-loader-img').remove();
          schedule.find('.schedule-link').empty();
        }
        else {
          console.log(data);
          var departure = $("<div>Departure: " + data.from.departure + " from " + data.from.station.name + "</div>" );
          var arrival = $("<div>Arrival: " + data.to.arrival + " to " + data.to.station.name + "</div>");
          var time = $("<div>Traveling time: " + (data.to.arrivalTimestamp-data.from.departureTimestamp) / 60 + " Minutes </div>");
          time.insertAfter(".schedule-loader-img");
          arrival.insertAfter(".schedule-loader-img");
          departure.insertAfter(".schedule-loader-img");
          schedule.find('.schedule-loader-img').remove();
        }
      });
  </script>
<% end %>

<div id="schedule-<%=training_session.id%>">
  <strong>Transportation:</strong>
  <% if(!current_user.place.nil? && !current_user.place.empty?) %>
    <img class="schedule-loader-img" src="/assets/ajax-loader.gif" alt="loading...">
    <div class="schedule-link">To get a more precise schedule visit <a href="http://fahrplan.sbb.ch/bin/query.exe/dn">the SBB homepage</a>.</div>
  <% else %>
    <div> Cannot find a connection to this training session. To enable this feature you have to define an address in your profile. </div>
  <% end %>
</div>



