<p>
  <strong>Title:</strong>
  <%= training.title %>
</p>

<p>
  <strong>Sport:</strong>
  <%= training.sport %>
</p>

<p>
  <strong>is Public?:</strong>
  <%= training.isPublic %>
</p>

<p>
  <strong>Description:</strong>
  <%= training.description %>
</p>

<p>
  <strong>Created:</strong>
  <%= training.created_at %>
</p>

<p>
  <strong>Owner:</strong>
  <%= training.owner.email %>
</p>