<p>
  <strong>Title:</strong>
  <%= training.title %>
</p>

<p>
  <strong>Sport:</strong>
  <%= training.sport %>
</p>

<p>
  <strong>is Public?:</strong>
  <%= training.isPublic %>
</p>

<p>
  <strong>Description:</strong>
  <%= training.description %>
</p>

<p>
  <strong>Created:</strong>
  <%= training.created_at %>
</p>

<p>
  <strong>Owner:</strong>
  <%= training.owner.username %>
</p>

<strong>Member:</strong>
<ul>
  <% training.users.each do |m| %>
    <li><%= m.username %></li>
  <% end %>
</ul>

<% if training.users.exists?(current_user) %>
    <% if not training.owner == current_user %>
        <%= link_to 'Leave this training', training_leave_path(training), class: 'btn btn-danger' %>
    <% end %>
<% else %>
    <%= link_to 'Join this training', training_join_path(training), class:'btn btn-default' %>
<% end %>

<% if training.owner == current_user && !(current_user.friends.nil?) %>
    <div class="dropdown">
      <button class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">Invite a friend to training <span class="caret"></span></button>
        <ul class ="dropdown-menu">
            <% current_user.friends.each do |friend| %>
                <li> <%= link_to friend.username, training_invite_path(friend) %></li>
            <% end %>
    </ul>
    </div>
<% end %>

