<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuBc3fYs8wV7YwDbzxEmyVuunE3aMVLIE&libraries=places"> </script>


<% content_for :title do %>
    <h1>
      <%= @training.title %>
    </h1>
<% end %>

<div class="row">
  <div class="col-md-4">

    <!-- Profile Image -->
    <%= render @training %>


    <div class="box box-primary">
      <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="fa fa-comments-o"></i>

        <h3 class="box-title">Comments</h3>
      </div>
      <div id="chat-box" class="box-body chat" style="width: auto;overflow:auto;max-height:350px;">
        <%= render @training.comments.reverse %>
      </div>
      <!-- /.chat -->
      <% if @training.users.include?(current_user) %>
            <%= render partial: 'comments/form', locals: {training:@training} %>
      <% end %>
    </div>

  </div>
  <!-- /.col -->
  <div class="col-md-8">

    <% training_i = @training.training_sessions.count %>

    <% if training_i == 0 %>
        <h3>No training sessions available.</h3>
    <% else %>
        <% @training.training_sessions.reverse.each do |s| %>
            <%= render partial: 'training_sessions/training_session', locals: {training_session:s, i: training_i} %>
            <% training_i -= 1 %>
        <% end %>
    <% end %>

  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
</div>