<h1>Overview Training</h1>

<% if is_own_training? @training %>
    <%= button_to('Destroy', training_path(@training),
                  method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right'  ) %><span style="float:right;">&nbsp;&nbsp;</span>
    <%= button_to 'Edit', edit_training_path(@training), class: "btn btn-info pull-right" , :method => :get%><span style="float:right;">&nbsp;&nbsp;</span>
<%end%>

<%= render @training %>

<br /><br />
<h2>Trainings</h2>


<% @training.training_sessions.each do |s| %>
    <%= render s %>
<% end %>

<br /><br />
<%= link_to 'New session', new_training_trainingsession_path(@training), class:'btn btn-info' %>