<%= form_for([@chat, @chat.messages.build], url: chat_messages_path(@chat)) do |f| %>

    <% if @chat.errors.any? %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h3><%= pluralize(@chat.errors.count, "error") %> prohibited this training from being saved:</h3>
          <ul>
            <% @chat.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="input-group">
    <%= f.text_field(:text, {placeholder: "Type Message ...", class: "form-control"}) %>
                      <span class="input-group-btn">
                        <%= f.submit("Send",{class:"btn btn-primary btn-flat"}) %>
                      </span>
  </div>
<% end %>