<% content_for :title do %>
    <h1>
      Login
      <small>Sign in on Sporticide</small>
    </h1>
<% end %>

<div class="box box-primary">
  <div class="box-body">

<br>
<h4><a href='/auth/facebook'>Sign in with facebook</a></h4>
<br>or<br>
<%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :passwd %>
    </div>
    <div class="actions"><%= submit_tag "Log in", :class => "btn btn-info"%></div>
<% end %>

  </div></div>