<% content_for :title do %>
    <h1>
      Friends
      <small>Your Sporticide friends</small>
    </h1>
<% end %>

<form class="form-inline" data-toggle="validator" role="form">
  <div class="form-group">
    <input type="number" name="start" placeholder="start" class="form-control">
  </div>
  <div class="form-group">
    <input type="number" name="size" min="1" placeholder="size" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-small">
  </div>
</form></br>
<% if @myfriends.nil? %>
    Haha. you have no friends!
<% else %>
<table class="table table-striped table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>


  </thead>
  <tbody>
  <% @myfriends.each do |friend| %>
      <tr>
        <td><%= friend.id %></td>
        <td><%= link_to friend.username, user_profile_path(friend.username) %></td>
        <td>
          <%= link_to "Remove friend", friend_path(friend),method: "delete", data: { confirm: 'Are you sure?' },  class: "btn btn-xs btn-danger" %>
          <%= link_to "Start Chat", chat_create_path(friend), method: "post", class: "btn btn-xs btn-info" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>