<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-horizontal">

    <div class="form-group">
      <%= f.label :username, :class => 'control-label col-sm-4 label-left' %>
      <div class="col-sm-4">
        <%= f.text_field :username, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => 'control-label col-sm-4 label-left' %>
      <div class="col-sm-4">
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, :class => 'control-label col-sm-4 label-left' %>
      <div class="col-sm-4">
        <%= f.password_field :password, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :realname, :class => 'control-label col-sm-4 label-left' %>
      <div class="col-sm-4">
        <%= f.text_field :realname, :class => 'form-control' %>
      </div>
    </div>


      <% levels = [
              ['not visible (0)', '0'],
              ['partly visible (1)', '1'],
              ['fully visible (2)', '2']
      ]
      %>
      <div class="form-group">
        <%= f.label :publicvisible, {class:"control-label col-sm-4 label-left"} %>
        <div class="col-sm-4">
          <%= f.select(:publicvisible, levels, {}, {class: "form-control"}) %>
        </div>
      </div>


    <div class="form-group">
      <div class="col-sm-4">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel',
                  users_path, :class => 'btn btn-default' %>
    </div>
    </div>

  </div>
<% end %>
