<% content_for :title do %>
    <h1>
      Chat
      <small>with <%= @chat.partner.username %></small>
    </h1>
<% end %>

ID: <%= @chat.id %><br />
Partner: <%= @chat.partner.username %>


Messages:<br />

<% @chat.messages.each do |m| %>
    <%= render m %>
<% end %>


<%= render 'messages/form' %>