<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="gmaps.js"></script>
<script>$(document).ready(function(){initialize();})</script>

<%= form_for([@training, @session], url: @session.id.nil? ? training_trainingsessions_path(@training) : training_trainingsession_path(@training, @session)) do |f| %>
    <% if @training.errors.any? %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h3><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h3>
          <ul>
            <% @training.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row col-md-6">

        <div class="form-group">
            <%= f.label 'Duration (Min:sec)' %>
            <%= f.text_field(:duration, {class:"form-control"}) %>
        </div>


        <div class="form-group">
            <%= f.label :datetime %>
            <%= f.datetime_select(:datetime, {:ampm => false, class:"form-control"}) %>
        </div>

      <% levels = options_for_select([
              ['very easy', 1],
              ['easy', 2],
              ['middle', 3],
              ['hard', 4],
              ['very hard',5]
      ])
      %>
      <div class="form-group">
        <%= f.label :level %>
        <%= f.select(:level, levels, {class: "form-control"}) %>
      </div>

      <div class="form-group">
        <%= f.label 'Length (km)' %><br>
        <%= f.number_field(:length, {in:0..1000, step: 0.1, class:"form-control"}) %>
      </div>

      <div class="form-group">
          <%= f.label :location %>
        <%=f.text_field :location ,:id => 'searchTextField'%><br>
      </div>

    <p>
      <%= f.submit({class:"btn btn-success"}) %>
    </p>

    </div>

<% end %>