<script>;$(document).ready(function(){set_map('<%= training_session.location %>', <%= training_session.id %>);});
</script>
<blockquote>
<p>
  <strong>Date:</strong>
  <%= training_session.datetime %>
</p>
<% if not training_session.recurrence == "never" %>
  <p>
    <strong>End date:</strong>
    <%= training_session.enddate %>
  </p>
  <p>
    <strong>All dates:</strong>
    <% training_session.get_recurrence_dates.each_with_index do |val, index| %>
      <%= val %><br />
    <% end %>
  </p>
<% end %>
<p>
  <strong>Recurrence:</strong>
  <%= training_session.recurrence %>
</p>

<p>
  <strong>Duration (Min:sec):</strong>
  <%= training_session.duration %>
</p>

<p>
  <strong>Level:</strong>
  <%= training_session.level %>
</p>

<p>
  <strong>Length (km):</strong>
  <%= training_session.length %>
</p>

<p>
  <%= render "schedule", training_session: training_session %>
</p>

<p>
  <strong>Location:</strong>
  <strong><%= link_to training_session.location, "http://maps.google.com/maps?q="+ training_session.location, :target => "_blank" %> </strong>
  <div id="map-canvas-<%= training_session.id %>" style="width:300px;height:200px"></div>
</p>
  <p>
    <script type="text/javascript">
      $(document).ready(function() {

        //Setup the plugin, see readme for more examples
        var weather<%= training_session.id %> = $("#weather-<%= training_session.id %>").flatWeatherPlugin({
          location: "<%= training_session.location %>", //city and region *required
          country: "ch",         //country *required
          //optional:
          api: "openweathermap", //default: openweathermap (openweathermap or yahoo)
          apikey: "d9fd966d663802cdac2ece9164d5eae5",   //optional api key for openweather
          view : "forecast", //default: full (partial, full, simple, today or forecast)
          displayCityNameOnly : true, //default: false (true/false) if you want to display only city name
          //forecast: 5, //default: 5 (0 -5) how many days you want forecast
          render: true, //default: true (true/false) if you want plugin to generate markup
          loadingAnimation: true //default: true (true/false) if you want plugin to show loading animation
          //units : "metric"// or "imperial" default: "auto"
        });

      });
    </script>
    <style>
      #weather-<%= training_session.id %> {
        width: 350px;
        background: #FFFFFF
      }


    </style>
  <div id="weather-<%= training_session.id %>"></div>


  </p>
<p>
  <strong>Logs:</strong>
  <%= render training_session.logs %>
</p>


<% if is_own_training? training_session.training %>
    <%= link_to 'Edit', edit_training_trainingsession_path(training_session.training, training_session), class: "btn btn-info" , :method => :get%>
    <%= link_to('Destroy', training_trainingsession_path(training_session.training, training_session),
                  method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  ) %>
<%end%>
<% if training_session.training.users.exists?(current_user) and not training_session.user_already_logged?(current_user) %>
  <%= link_to 'Add log', new_training_trainingsession_log_path(training_session.training, training_session), class: 'btn btn-default' %>
<% end %>

<a class="btn btn-info" href=
<%="/twitter/tweet?message=Join%20us%20for%20a%20training!%20"+root_url.chop.chop+training_trainingsession_path(training_session.training, training_session)%>
>Tweet</a>

</blockquote>
