<script>$(document).ready(function(){set_map('<%= training_session.location %>', <%= training_session.id %>);})</script>
<blockquote>
<p>
  <strong>Date:</strong>
  <%= training_session.datetime %>
</p>

<p>
  <strong>Duration (Min:sec):</strong>
  <%= training_session.duration %>
</p>

<p>
  <strong>Level:</strong>
  <%= training_session.level %>
</p>

<p>
  <strong>Length (km):</strong>
  <%= training_session.length %>
</p>

<p>
  <strong>Location:</strong>
  <%= training_session.location %>
  <div id="map-canvas-<%= training_session.id %>" style="width:300px;height:200px"/>
</p>

<p>
  <strong>Logs:</strong>
  <%= render training_session.logs %>
</p>

<% if is_own_training? training_session.training %>
    <%= link_to 'Edit', edit_training_trainingsession_path(training_session.training, training_session), class: "btn btn-info" , :method => :get%>
    <%= link_to('Destroy', training_trainingsession_path(training_session.training, training_session),
                  method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  ) %>
<%end%>
<% if training_session.training.users.exists?(current_user) and not training_session.user_already_logged?(current_user) %>
  <%= link_to 'Add log', new_training_trainingsession_log_path(training_session.training, training_session), class: 'btn btn-default' %>
<% end %>

<a class="btn btn-info" href=
<%="/twitter/tweet?message=Join%20us%20for%20a%20training!%20"+root_url.chop.chop+training_trainingsession_path(training_session.training, training_session)%>
>Tweet</a>

</blockquote>
