<%- model_class = LocalUser -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<form class="form-inline" data-toggle="validator" role="form">
  <div class="form-group">
    <input type="number" name="start" placeholder="start" class="form-control">
  </div>
  <div class="form-group">
    <input type="number" name="size" min="1" placeholder="size" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-small">
  </div>
</form></br>

<% if @local_users.nil? %>
    No Users
<% else %>
  <table class="table table-bordered table-striped display" id="posts">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>


    </thead>
    <tbody>
    <% @local_users.each do |localuser| %>
        <tr>
          <td><%= localuser.id %></td>
          <td><%= link_to localuser.username, local_user_path(localuser) %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_local_user_path(localuser), :class => 'btn btn-mini' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</table>