<%= form_for([@session, @log], url: @log.id.nil? ? training_trainingsession_logs_path(@session.training, @session) : training_trainingsession_log_path(@session.training, @session, @log)) do |f| %>
    <% if @session.errors.any? %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h3><%= pluralize(@session.errors.count, "error") %> prohibited this training from being saved:</h3>
          <ul>
            <% @session.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @log.errors.any? %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h3><%= pluralize(@log.errors.count, "error") %> prohibited this session from being saved:</h3>
          <ul>
            <% @log.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row col-md-10">

      <div class="form-horizontal">

      <% intensities = [
              ['very easy', '1'],
              ['easy', '2'],
              ['middle', '3'],
              ['hard', '4'],
              ['very hard', '5']
      ]
      %>

      <div class="form-group">
        <%= f.label 'Intensity', {class: "control-label col-sm-3 label-left"} %>
        <div class="col-sm-6">
          <%= f.select(:intensity, intensities, {}, {class: "form-control"}) %>
        </div>
      </div>

      <% ratings = [
              ['very bad', '1'],
              ['bad', '2'],
              ['average', '3'],
              ['good', '4'],
              ['best', '5']
      ]
      %>

      <div class="form-group">
        <%= f.label 'Rating', {class: "control-label col-sm-3 label-left"} %>
        <div class="col-sm-6">
            <%= f.select(:rating, ratings, {}, {class: "form-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :comment, {class:"control-label col-sm-3 label-left"} %>
        <div class="col-sm-6">
            <%= f.text_area(:comment, {size: '60x8',class:"form-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
            <%= f.submit({class:"btn btn-success"}) %>
        </div>
      </div>

      </div>

    </div>
<% end %>