<% content_for :title do %>
    <h1>
      Your profile
      <small>Overview</small>
    </h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2><%= current_user.username %></h2>
              <p><strong>Realname: </strong> <%= current_user.firstname %> <%= current_user.lastname %> </p>
              <p><strong>Address: </strong> <%= current_user.address %> <%= current_user.address_nr %> <%= current_user.plz %> <%= current_user.place %> </p>
              <p><strong>Age: </strong> <%= current_user.age_at(Date.today,current_user.date)%> years </p>
              <p><strong>Height: </strong> <%= current_user.height %> cm </p>
              <p><strong>Weight: </strong> <%= current_user.weight %> kg </p>


            </div><!--/col-->
            <!--<div class="col-xs-12 col-sm-4 text-center">-->
              <!--<img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">-->
            <!--</div>&lt;!&ndash;/col&ndash;&gt;-->

            <div class="col-md-8">
              <%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-info pull-left"%>
            </div><!--/col-->

          </div><!--/row-->
        </div><!--/panel-body-->
      </div><!--/panel-->



    </div>
  </div>
</div>
