<ul class="sidebar-menu">
  <li class="header">NAVIGATION</li>
  <!-- Optionally, you can add icons to the links -->

  <% if user_signed_in? %>
      <li class="<%= 'active' if current_page?(root_path) %>"><a href="<%= root_path %>"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
      <li class="<%= 'active' if current_page?(trainings_path) %>"><a href="<%= trainings_path %>"><i class="fa fa-calendar"></i><span>Trainings</span></a></li>
      <li class="<%= 'active' if current_page? (local_users_path)  %>"><a href="<%= local_users_path %>"><i class="fa fa-user"></i><span>Sporticide Users</span></a></li>
      <li class="<%= 'active' if current_page?(friends_path) %>"><a href="<%= friends_path %>"><i class="fa fa-users"></i><span>Friends</span></a></li>
      <li class="<%= 'active' if current_page?(training_notifiers_path) %>"><a href="<%= training_notifiers_path %>"><i class="fa fa-bell"></i><span>Notifications</span></a></li>
      <li class="<%= 'active' if current_page?(statistics_path) %>"><a href="<%= statistics_path %>"><i class="fa fa-bar-chart"></i><span>Statistics</span></a></li>
      <li class="<%= 'active' if current_page?(mytrainings_path) %>"><a href="<%= mytrainings_path %>"><i class="fa fa-calendar"></i><span>My Trainings</span></a></li>
      <li class="<%= 'active' if current_page?(chats_path) %>"><a href="<%= chats_path %>"><i class="fa fa-envelope"></i><span>Chats</span></a></li>
      <li class="<%= 'active' if current_page?(calendar_index_path) %>"><a href="<%= calendar_index_path %>"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
  <% end %>

  <!--<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
  <li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="#">Link in level 2</a></li>
      <li><a href="#">Link in level 2</a></li>mu
    </ul>
  </li>-->
</ul><!-- /.sidebar-menu -->