<% if user_signed_in? %>

<%
   trainings = current_user.trainings
   trainings_count = trainings.count
%>

<li class="dropdown notifications-menu">
  <!-- Menu Toggle Button -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-flag-o"></i>
    <% if trainings_count > 0 %><span class="label label-danger"><%= trainings_count %></span><% end %>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have <%= trainings_count %> training<%= (trainings_count>1 or trainings_count == 0) ? 's' : '' %></li>
    <li>
      <!-- Inner menu: contains the tasks -->
      <ul class="menu">
        <% trainings.each do |t| %>
        <li><!-- Task item -->
          <a href="<%= training_path(t) %>">
              <i class="fa fa-calendar text-aqua"></i> <%= t.title %>
          </a>
        </li><!-- end task item -->
        <% end %>
      </ul>
    </li>
    <li class="footer">
      <%= link_to "View all trainings", mytrainings_path %>
    </li>
  </ul>
</li>

<% end %>