<!DOCTYPE html>
<html>
<head>
  <title>Sporticide</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>
<div class="container mainpage-content">
  <% if alert or flash[:error] %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= alert ? alert : flash[:error] %>
      </div>
  <% end %>
  <% if notice or flash[:notice] %>
      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= notice ? notice : flash[:notice] %>
      </div>
  <% end %>

<%= yield %>
</div>
</div>
</body>
</html>
